.body{
    font-family: 'Roboto', sans-serif;
      font-size: 18px;
}

.main-container{
  margin: 0 auto;
  max-width: 1350px;
  width:auto;
}

.outer-container{
display: flex;
flex-wrap: wrap;
width: 100%;
background-color: #586BA4;
color: white;
}

.HEADER-Wrapper{
  display:flex; 
  justify-content:space-around;
  width: 100%;
}

.card{
  margin: 5px 0 5px 0;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  background-color: #324376;
  justify-content: center;
  position: relative;

}

.title{
  margin:auto; 
  width:50%;
  text-align: center;
}

.search-icon{
  display: none;
}

.title-wrapper{
  width: 100%;
  height: 30px;
  margin:5px 0 5px 0; 
  justify-content: center;
  text-align: center;
  font-weight: bold;
  }

.content-wrapper{
  max-width: 1090px;
  width: auto;
  height: auto;
  margin: 0 5px 0 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}



/*Search Bar*/
.top-search {
    display: flex;
    align-items: flex-end;
    max-width: 25%;
    width: auto;
    color: #fff;
}
.input {
	position: relative;
	display: inline-block;
	width: 100%;
  height: 40px;
  color: #fff;
	vertical-align: top;
  font-size: 14px;
  margin: 0 5px 0 5px;
}

.input>input {
	float: left;
	clear: both;
	width: 100%;
	border: none;
  font-size: 14px;
  border-bottom: 1px solid #9b9b9b;
	border-radius: 0;
	background: transparent;
	color: #fff;
	font-weight: normal;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	display: block;
	padding: 10px 0 10px 18px;
	height: 100%;
	text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input>input:focus {
	outline: none;
	border-bottom: 1px solid #fff;
}

.input>i {
  /*line-height: 36px;*/
  padding: 0;
  position: absolute;
  top: 35%;
  height: 20%;
  color: #fff;
}

.input>i:first-child {
	left: 0;
}

.input>i:last-child {
	right: 0;
	cursor: pointer;
	height: 20px;
	width: 20px;
	text-align: right;
}

.arrow{
  color: black;
  margin-top: 5px;
}

@media screen and ( max-width: 767px ){
  .main-container{
    padding: 0 10px 0 10px;
  }
  .top-search{
    display: none;
  }
  .title{
    width: 50%;
  }
  .search-icon{
    display: inline-block;
    padding: 5px;
    width: 24%;
    text-align: right;
  }
  .mobile-top-search{
    display: flex;
    flex-direction: column;
  }
  .t-search{
    position: absolute;
    right: 0;
    top: -5px;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    z-index: 10;
    height:auto;
  }
  .button-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
}